<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container-home">
    <h1>random thoughts</h1>
  </div>

  <div class="ptag">
    <h2>share your thoughts here</h2>
    <p>safe and secure</p>
  </div>

  <div class="body">
    <a class="btn btn1 btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn1 btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
